<a href="https://colab.research.google.com/github/sruthib22/DS601_Fall21/blob/main/assignment_08/in_class_session_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

in_class_session_08

- Name: Sruthi Batchala
- Date: 10/21/21

In [61]:
import pandas as pd
import plotly.express as px
import plotlywidget

In [62]:
df = pd.read_csv('/content/wdi_data.csv')

In [63]:
df.head()

   Unnamed: 0  Year        value  ...      Region Income Group Lending Type
0           0  2015  2087.305323  ...  South Asia   Low income          IDA
1           1  2016  1981.118069  ...  South Asia   Low income          IDA
2           2  2017  2058.400221  ...  South Asia   Low income          IDA
3           3  2018  2082.635648  ...  South Asia   Low income          IDA
4           4  2019  2152.366489  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [64]:
df.tail()

      Unnamed: 0  Year  ...         Income Group Lending Type
4349        4349  2015  ...  Lower middle income        Blend
4350        4350  2016  ...  Lower middle income        Blend
4351        4351  2017  ...  Lower middle income        Blend
4352        4352  2018  ...  Lower middle income        Blend
4353        4353  2019  ...  Lower middle income        Blend

[5 rows x 9 columns]

In [65]:
df_2019 = df.query('Year == 2019')
df_2019.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
743          743  2019  ...          High income  Not classified
3233        3233  2019  ...  Upper middle income           Blend
4143        4143  2019  ...  Lower middle income             IDA
3029        3029  2019  ...          High income  Not classified
478          478  2019  ...  Lower middle income            IBRD
2477        2477  2019  ...  Upper middle income           Blend
1032        1032  2019  ...           Low income             IDA
1915        1915  2019  ...  Lower middle income             IDA
3758        3758  2019  ...  Lower middle income             IDA
3928        3928  2019  ...          High income  Not classified

[10 rows x 9 columns]

In [66]:
df_2019 = df_2019.query("indicator in(['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD','SP.POP.TOTL'])")
#df_2019 = df_2019(df_2019['indicator'].isin(['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD']))

df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
4              4  2019  ...           Low income             IDA
10            10  2019  ...  Upper middle income            IBRD
16            16  2019  ...  Lower middle income            IBRD
22            22  2019  ...  Lower middle income            IBRD
28            28  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
3413        3413  2019  ...          High income  Not classified
3419        3419  2019  ...  Lower middle income  Not classified
3425        3425  2019  ...           Low income             IDA
3431        3431  2019  ...  Lower middle income             IDA
3437        3437  2019  ...  Lower middle income           Blend

[606 rows x 9 columns]

In [67]:
df_2019.drop(columns = ["Unnamed: 0","Year"], inplace= True)

df_2019.head()

           value          indicator  ...         Income Group Lending Type
4    2152.366489  NY.GDP.PCAP.PP.CD  ...           Low income          IDA
10  14230.989507  NY.GDP.PCAP.PP.CD  ...  Upper middle income         IBRD
16  11997.337834  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
22   6952.419362  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
28  22460.019253  NY.GDP.PCAP.PP.CD  ...          High income         IBRD

[5 rows x 7 columns]

In [68]:
df_pivot = df_2019.pivot(index =['Country Code','Country Name','Region','Income Group','Lending Type'], columns ='indicator', values ='value').reset_index()

df_pivot.head()

indicator Country Code Country Name  ... SP.DYN.LE00.IN SP.POP.TOTL
0                  ABW        Aruba  ...         76.293    106310.0
1                  AFG  Afghanistan  ...         64.833  38041757.0
2                  AGO       Angola  ...         61.147  31825299.0
3                  ALB      Albania  ...         78.573   2854191.0
4                  AND      Andorra  ...            NaN     77146.0

[5 rows x 8 columns]

In [69]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Code       217 non-null    object
 1   Country Name       217 non-null    object
 2   Region             217 non-null    object
 3   Income Group       217 non-null    object
 4   Lending Type       217 non-null    object
 5   NY.GDP.PCAP.PP.CD  192 non-null    float64
 6   SP.DYN.LE00.IN     198 non-null    float64
 7   SP.POP.TOTL        216 non-null    float64
dtypes: float64(3), object(5)
memory usage: 13.7+ KB

In [71]:
fig = px.scatter(
    df_pivot.dropna(),
    x = "NY.GDP.PCAP.PP.CD",
    y = "SP.DYN.LE00.IN",
    title = "Health vs Wealth",
    labels = {"SP.DYN.LE00.IN":"Life Expectancy ","NY.GDP.PCAP.PP.CD":"GDP per capita"},
    color = "Region",
    hover_name = "Country Name",
    text = "Country Name",
    size = "SP.POP.TOTL"
)

fig.update_traces(textposition = "top center")

fig.show()